In [8]:
True and False

False

In [9]:
''' 2. or - This is also a logical operator which returns true if anyone of the operand is true else false
for example :'''
True or False

True

In [10]:
False and False

False

In [12]:
''' 3. if - this is used to make a conditional statement.
for example :'''
a = 100
if a > 0:
    print ("the number is greater than 0")

the number is greater than 0

In [16]:
'''4. elif - is a condition statement used with an if statement
for example :'''
a = 10
if (a> 100) :
    print ("a is greater than 100")
elif (a < 100) :
    print ("a is less than 100")
else :
    print ("a is equals to 100")

a is less than 100

In [19]:
''' 5. for - this is used to create a loop
for example :'''

for i in "pallavi" :
    print (i)

p
a
l
l
a
v
i

In [25]:
'''6. break - it is used to terminate the loop
for example :'''

l = [1 , 2, "pallavi"]
for i in l:
    if i == "pallavi" :
        break
        print (i)

In [7]:
# Q.NO 1 : Explain the features oF python that make it a popular choice for programming?

'''ANS : Python is widely used in industries because of its key features that follows
 1. Lots of libraries in python
    It offers various modules in operators , mathematical functions, libraries such as NumPy, Pandas etc and packages
    paving the way for the developers to save time to avoid re- writing  the codes from scratch.
    
2.  Object - Oriented programming
    it is an object oriented programming and also supports procedure- oriented programming.
    
3.  Portable
    Python is portable in the sense that the same code can be used in different machine.It is versatile in nature.
    
 4. High Level Language
    Its a high level language becuase programmers dont need to remember the system architecture nor do they have to 
    manage the memory.
    
5.  High Active Community 
    It has one of the largest and most active program communities which helps in providing wealth of resources ,
    documentation and libraries.'''

#Q NO 2 : Describe the role of predefined keywords in Python and provide examples of how they are used in a programme

''' AANS : Pre - definrd keywords are used to define the syntax of the coding . The keyword cannot be used as an 
           identifier, function or variable name. Some of the python keywords are :
           1 . and - this is a logical operator which give true if both the operands are true else false
           for example '''
True and True

True

In [26]:
# Q NO 3 :  Compare and contrast mutable and immutable objects in Python with examples

''' ANS : mutable objects
          1. ojects or container whose statements can be changed after they are created is called mutable object
          2. it supports item assignment
          3. list is an example of mutable object 
          for eg '''
list = [ 1 , 7 , "pallavi"]
list [2] = "samrat"
list

[1, 7, 'samrat']

In [27]:
'''immutable objects
1. ojects or container whose statements cannot be changed after they are created is called immutable object
2. it does not supports item assignment
3. string is an example of immutable objects
for eg '''
b = "pwskills"
b[0]

'p'

In [28]:
b[0] = "u"

TypeError: 'str' object does not support item assignment

In [29]:
# Q NO :4 Discuss the different types of operators in Python and provide examples of how they are used
''' ANS :  1. arithmatic operators
          addition (+)
          subtraction (+)
          multiplication (*)'''
20+996

1016

In [31]:
''' 2. comparison operators 
equals to (==)
not equals to (!=)
greater than(>) or equals to(>=)
less than (<) or equals to(<=)
for example :'''
True == True

True

In [32]:
True != False

True

In [33]:
56 >= 78

False

In [34]:
98<= 98

True

In [35]:
''' 3. Logical operator
Logical AND
logicak OR
Logical NOT'''
True and True

True

In [36]:
True or False

True

In [37]:
not True

False

In [39]:
''' 4. Bitwise Operator
bitwise AND (&)
biwise or (|)
bitwise NOR or negation (~)
bitwise XOR(^)
for example :'''

'''AND'''
18 & 3

2

In [40]:
'''OR'''
45|9

45

In [42]:
'''NEGATION'''
~-90

89

In [43]:
'''XOR'''
5^3

6

In [55]:
''' 5. ASSIGNMENT OPERATOR
To assign the value'''
a = 10
a

10

In [56]:
a + 9

19

In [58]:
''' MEMBERSHIP OPERATOR
in
not in
for example :'''
a = "pallavi"
"p" not in a

False

In [59]:
"o" in a

False

In [60]:
'''IDENTITY OPERATORS
copares the location of two objects 
for example;'''
a= 2
b = 3
a is b

False

In [62]:
a = 0
b = a
a is b

True

In [2]:

#Q NO : 5 Explain the concept of type casting in Python with examples 
      
    
    '''ANS : The process of changing the data type of value/object is called type casting. We use type casting because 
     while executing using operators, there can be the mismatch between the data types.
     for example : '''
a = "2"
b = 6
a + b

IndentationError: unexpected indent (885516160.py, line 4)

In [1]:
''' becuase string cannot be added to integer we have to convert the string into integer by using type casting.'''
a = "2"
b = 6
int(a) + b

8

In [7]:
''' Type casting is of to types  implicit and explicit
implicit
[Python understands the data type]'''
a = 6
type(a)

int

In [4]:
'''explicit'''
a = 7
str(a)

'7'

In [ ]:


# Q NO : 6   How do conditional statements work in Python? Illustrate with examples

In [9]:
''' conditinal statement helps you to code decisions based on some pre- conditions
1. if
The if statement is a conditional statement in python used to determine whether a block of code will be executed . 
If the program finds the condition defined in the if statement true, it will execute the code block inside the if 
statement
for example:'''
a = 100
if a > 0:
    print("The number is greater than 0")

The number is greater than 0

In [11]:
'''2. if else
      
      the if statement execute the code block when the condition is true. But if the  if statement is false then 
       it will execute the code block of else statement .'''
weather = "sunny"
if (weather == "rainy"):
    print(" I will watch television")
else :
    print("I will play cricket")

I will play cricket

In [13]:
'''3. elif
The elif statement is used to check for multiple conditions and execute the code block within if any of the conditions 
are evaluated to be true.
for example :'''
a = 10
if a > 100:
    print("The number is greater than 100")
elif a < 100:
    print ("The number is less than 100")
else :
    print ("The number is equals to 100")

The number is less than 100

In [15]:
''' 4. nested if else
A nested if else statement is considered as if within another if statement.
for example:'''
x = 1
y = 6
if x > 5:
    if y > 6:
        print("both x an y is greater than 5")
    else :
        print("x is greater than 5 but y less than 5")
else :
    print("x is not greater than 5")

x is not greater than 5

In [ ]:
# Q NO : 7 Describe the different types of loops in Python and their use cases with examples.

In [16]:
'''ANS : Loop statement allows to execute a block of code repeatedly.
         It is of two types
         while loops 
         for loops
    1. 
    
    WHILE LOOP
       The while loop is used to execute the set of statements as long as a condition is true.'''
n = 7
i = 1
while i < n:
    print (i)
    i = i+1

1
2
3
4
5
6

In [17]:
'''a) while- else loop '''
     
n = 7
i = 1
while i< n:
    print(i)
    i = i+1 
else:
    print("this will be executed successfully")

1
2
3
4
5
6
this will be executed successfully

In [3]:
'''break statement 
   it terminates the loop
   for example: '''
n = 7
i = 1
while i<n:
    print (i)
    i = i+1
    if i == 3:
        break
else:
    print("this will be executed successfully")

1
2

In [2]:
'''continue statement
it skips the iteration
for example :'''
n = 7
i = 1
while i<n:
    print(i)
    i = i+1
    if i == 5:
        continue
else :
     print("this will be executed successfully")

1
2
3
4
5
6
this will be executed successfully

In [1]:
'''2. FOR LOOP'''

for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [2]:
'''break statement'''
l = [1 , 2, "Ajay" , "Bijay"] 
for i in l:
    print(i)
    if i == "Ajay":
        break
else :
    print ("this will be executed")

1
2
Ajay

In [3]:
'''continue statement'''
l = [1 , 2, "Ajay" , "Bijay"] 
for i in l:
    print(i)
    if i == "Ajay":
        continue
else :
    print ("this will be executed")

1
2
Ajay
Bijay
this will be executed